PORT=5000
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/eco-huella?retryWrites=true&w=majority
JWT_SECRET=cambia_esto_por_una_clave_larga_y_secreta
JWT_EXPIRE=7d
NODE_ENV=production
GMAIL_USER=
GMAIL_APP_PASSWORD=
MAIL_FROM=
